.property_adresse{
    margin-bottom: 1%;
    margin-left: 1%;
    width: 98%;
}

.info{
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 10px -10px black;
}
.info:nth-child(n){
    margin-left: 1%;

}

/*font-family: 'Helvetica Neue', sans-serif;*/