<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'blockchainApp/css/bootstrap.min.css' %}" />
 
  </head>
  <body>

    {% block header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}






  </body>



    <!-- jQuery -->
    <script src="{% static 'blockchainApp/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blockchainApp/js/bootstrap.min.js' %}"></script>

  </body>
</html>
